@page "/"
@rendermode InteractiveServer

<PageTitle>TODO LIST</PageTitle>

<h1 class="boxed-title">TODO LIST</h1>

<EditForm Model="@AddTask" OnValidSubmit="AddTask">
<input class="form-control d-inline-flex w-25" @bind="newTask" placeholder="Enter a task..." />
<button type="submit" class="btn btn-dark" @onclick="AddTask">Add</button>
</EditForm>

<ul>
    @foreach (var task in tasks)
    {
        <li>@task</li>
    }
</ul>
    
@code {
    private List<string> tasks = new();

    private string newTask = "";

    private void AddTask()
    {
        tasks.Add(newTask);
        newTask = "";
        StateHasChanged();
    }
}