@page "/"
@rendermode InteractiveServer

<h1 class="title">TO DO LIST</h1>

<input class="form-control d-inline w-25" @bind="newTask" placeholder="Enter a task..." />
<button class="btn btn-success" @onclick="AddTask">Add</button>

<ul>
    @foreach (var task in tasks)
    {
        <li>@task</li>
    }
</ul>
    
@code {
    private List<string> tasks = new();
    private string newTask = "";

    private void AddTask()
    {
        tasks.Add(newTask);
        newTask = "";
        StateHasChanged();
    }
}